.row_container {
    display: flex;
    /* border: 1px solid orange; */
    height: 100%;
    width: 100%;
    justify-content: center;
    overflow-y: auto;
}

.container {
    /* display: flex; */
    /* border: 1px solid purple; */
    height: 899px;
    width: 80%;
    max-width: 1450px;
    min-width: 600px;
    max-height: 899px;
    /* overflow-y: auto; */
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* overflow-y: auto; */
    align-items: center;

}

.movie_entry_container {
    /* border: 0.5px solid red; */
    width: 90%;
    height: 40%;
    /* justify-content: space-evenly; */
    display: flex;
    flex-direction: row;
    /* border: 1px solid purple; */
    gap:10px;
    align-items: flex-start;
}

.movie_container {
    /* width: 150px; */
    /* height: fit-content + 10px; */
    width:20%;
    max-width: 300px;
    height: 100%;
    min-height: 100px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-content:space-around;
}

.movie_container[data-keys="0"] {
    /* hides placeholder cells when number of movies is not multiple of 4 */
    opacity: 0;
}

.hover {
    visibility:hidden;
    width: 100%;
    height: 0%;
    display: flex;
    justify-content: center;
}

.hover2 {
    visibility:hidden;
    width: 100%;
    height: 0%;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    opacity: 0;
}

.movie_container:hover  > .hover2{
    visibility:visible;
    width: 100%;
    /* border: 1px solid red; */
    height: 0%;
    opacity: 1;
}

.movie_container:hover  > .hover{
    visibility:visible;
    width: 100%;
    height: 0%;
    text-align:center;
    scroll-behavior: none;
} 

.hover  p {
    position: sticky;
    background-color: white;
    color: blue;
    height: 20px;
}

.movie_entry_star {
    /* border: 1px solid red; */
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.movie_entry_star img{
    width: 20%;
    height: 100%;
}

.movie_entry_genre {
    /* border: 1px solid green; */
    flex-grow: 2;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden;    /* Hide overflowing text */
    font-size: medium;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    /* border: 1px solid green; */
    max-height: 60px;
}   

.movie_entry_genre p {
    /* border: 1px solid green; */
    border-radius: 5px;
    /* border: 1 solid black; */
    background-color: rgb(238, 247, 247);
    width:100%;
    height: 20px;
    z-index: 3;
}

.movie_entry_pic {
    /* border: 1px solid blue; */
    flex-grow: 7;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    min-height: 200px;;
    max-height: 800px;;
    /* border: 1px solid orange; */
    align-items: center;
}

.movie_entry_pic img{
    width:60%;
    height: 90%;
}



.placeholder{
    flex-grow: 3;
    padding-bottom: 20px;
    visibility: hidden;
}

/* Modal   */

.modal_container {
    flex-direction: row;
    position: absolute;
    width:60%;
    height: 100%;
    max-height: 700px ;
    min-width: 700px ;
    max-width: 800px ;
    border: 1px solid silver; 
    border-radius: 6px;
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-rows: 100%;

    top:5px;
    z-index: 2;
    object-fit: fill;
}

.modal_left {
    /* border: 2px solid blue;  */
    flex-grow: 3;
    width: 100%;
    height: 100%;
    font-size: larger;
    object-fit: fill;
}


.modal_left:hover {
    color: pink;
}


.modal_left > img {
    height: 100%;
    width: 100%;
    object-fit:fill;
}



.modal_right {
    flex-grow: 1;
    width: 100%;
    display: grid;
    flex-direction: column;
    height: inherit;
    grid-template-rows: 15% 20% auto;
    background-color: gray;
}

.modal_genre {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 0.1px solid white;
}



.modal_genre > img {
    height: 16%;
    width: 12%;
    align-self: flex-start;
}

.modal_genre div  {
    text-align: center;
    height: 60%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.modal_genre div  p{
    border: 1px solid silver; 
    border-collapse: collapse;
    border-radius: 4px;
    font-size: xx-large;
    width: 50%;
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.modal_rating {
    width: 100;
    /* border: 0.5px solid green;  */
    display: flex;
    flex-direction: column;
}

.modal_rating > img{
    align-self: flex-start;
    width: 14%;
    height: 14%;
}

.modal_rating > div{
    color: pink;
    align-self: center;
    /* border: 0.5px solid silver; */
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    /* justify-content: space-evenly; */
}

.modal_rating > div > div  {
    display: flex;
    flex-direction: row;
    /* border: 2px solid purple; */
    height: 20%;
}

/* .modal_rating > div > div > div , */
.rating_img_container  {
    height: 100%;
    /* width : 100%; */
    display: flex;
    align-items: center;
    flex-grow: 0.5;
    /* border: 2px dotted orange; */
    object-fit: cover;
    justify-content: center;
}

.rating_img {
  align-self: center;
    width: 85%;
    height: 85%;
}

.modal_rating > div > div > div ~ div  {
    /* border: 2px dotted black; */
    height: 100%;
    /* width : 100%; */
    flex-grow: 2;
    /* background-color: antiquewhite; */
    justify-content: flex-start;
    align-items: center;
    display: flex;
}


.modal_rating p {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.modal_team {
    width: 100%;
    height: 100%;
    border-top: 0.1px solid white;
    display: flex;
    flex-direction: column;

} 


.teamIcon  {
    align-self: flex-start;
    width : 100%;
    height: fit-content;
}

.teamIcon > img  {
    align-self: flex-start;
    width : 18px;
    height : 18px;
}


.modal_team > div ~ div {
    height: 100%;
    width: 80%;
    /* border: 1px solid green; */
    align-self: center;
    display: flex;
}



.teamlist {

    /* overflow-y: hidden; */
    display: flex;
    width: 100%;
    height: 100%;
    /* border: 0.5px solid pink; */
    border-radius: 4px;
    overflow-x:hidden;
}

.teamlist_sub{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 0.5px solid pink;
    height: 100%;
    max-height: 400px;
    overflow-y: auto;

}


/*  container */
.teamlist_sub > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: inherit;
    max-height: 50px;
    min-height: 40px;

    /* border: 2px solid red; */
}

/* container pic element */
.teamlist_sub > div > div  {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.teamlist_sub > div > div >img {
    height: 70%;
    width: 70%;
    max-width: 340px;
    max-height: 55px;
    min-height: 35px;


}

/* container msg element */
/* .teamlist > div > div  ~ div, */
.ele_container > div ~ div{
    flex-grow: 9;
    height: 90%;
    max-height:60px;
    width: 100%;
    display: flex;
    justify-content: left;
    max-width: 150px;
    /* border: 2px solid black; */
}

.ele_container {
    /* border: 0.5px solid black; */
    display: flex;
    align-items: center;
    width: 50px;
}

.name_container1 {
    margin: 0 0 0 0;
    padding: 0;
    display: flex;
    align-items:left;
}

.name_container2 {
    color: pink;
    /* border: 1px solid red; */
    text-align: left;
    line-height: 12px;
    max-height: 200px;
}

.name_container2 > p {
    margin: 0 0 0 0;
    padding: 0;
    color: pink;
    font-size: 12px;
    width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.name_container2[name_gt="true"] > p::before {
    margin: 0 0 0 0;
    padding: 0;
    color: whitesmoke;
    font-size: 16px;
    white-space: nowrap;
    content: attr(name);
    opacity:0;
    position: absolute;
    z-index: 6;
    border: 2px solid salmon;
    background-color: darkgray;
}

.name_container2[name_gt="false"] > p:hover::before{
    opacity: 1;
    visibility: visible;
}

.cover_screen {
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: black;
}

.closeit::before{
    /* height: 0;
    font-size: medium;
    position:absolute;
    */
    left: 0.5em; 
    top: 0.5em;
    color: white;
    font-size: 30x;
    content: "X" ;
    z-index: 6;
    position: absolute;
    border-radius: 50%;
} 

@keyframes bloop {
    from {    
        border: 1px solid black;
    }
    to {    
        border: 1px solid white ;
    }
}
.closeit:hover::before {
    animation-name: bloop;
    animation-duration: 2s;
}


