 /* 
    Plane of canvas 
        z-index = 1 
 
 */
 
 @import "variables.css"; 

 /* top level div */
.top_level_list_container_container_cls {
    grid-row: 1 / span 100;
    grid-column: 1 / span 100;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 100%;
    height: 100%;    
    padding-top: 5px;
    z-index: 1;

}

/* main  */
/* playerlist */
.player_containerwrapper_cls {
    width: 100%;
    height: 27vh;
    margin: 0;
    padding:0;
    /* grid-template-columns: repeat(100, 1fr);   */
    /* grid-template-rows: repeat(100, 1fr);   */
    border-bottom: 1px silver solid;;
    row-gap: 7vh;
    
    display: flex;
    /* justify-content: center; */
    align-items: center;
}


 
/* main  */
/* playerlist */
.player_container_cls {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(100, 1fr);  
    grid-template-rows: repeat(100, 1fr);  
    height: 100%;
    border-bottom: 1px silver solid;;
    margin: 0;
    padding:0;
}

/* player pic */
/* .player_plots_container, */

.player_container_cls > div:nth-child(1),
.img_cls {
    width: 100%;
    height: 100%;
    grid-row: 10 / span 99; 
    grid-column: 1/ span 99;
    z-index: 1; 
    display: grid;
    grid-template-columns: repeat(100, 1fr);  
    grid-template-rows: repeat(100, 1fr);  
    margin: 0;
    padding:0;
}

.player_container_cls > div:nth-child(1) > img,
.img_cls {
    width: 100%;
    height: 17vh;
    grid-row: 1 / span 30; 
    grid-column: 2/ span 10;
    background-size:100%;
    background-position: center;
    border-radius: 50%;
    z-index: 1; 
    margin: 0;
    padding:0;
    border: 0.5px silver solid;
}

.img_cls:hover {
    background-image: var(--bg-img, none);
    background-position:center;
    background-repeat: no-repeat;
    overflow: hidden;  /* Keeps any unwanted overflow hidden */
    width: 100%;
    height: 100% ;
    margin: 0;
    padding: 0;
}

/* player data container */
.playerDataContainer_cls
{
    /* border: 10px blue dotted; */
    grid-row: 10 / span 30;
    grid-column: 14 / span 65;
    height: 25vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(100, 1fr);  
    grid-template-rows: repeat(100, 1fr);  
     margin: 0;
    padding:0;
}

.meta_name_cls,
.meta_team_cls, 
.meta_assoc_cls {
    width: 100%;
    height: 100%;
    border: 1px silver solid;
    background-color: black;
    border-radius: 2px;
    overflow: hidden;  
    margin: 0;
    padding:0;
    display: flex;
    flex-shrink: 1;
    background-color: transparent;
}

.meta_name_cls {
    grid-row: 5 / span 10;
    grid-column: 2 / span 18;
    z-index: 1;
}

.meta_team_cls {
    grid-row: 5 / span 10;
    grid-column: 25 / span 12;
    z-index: 2;
}

.meta_assoc_cls {
    grid-row: 5 / span 10;
    grid-column: 43/ span 18;
    z-index: 3;
}

.meta_team_cls > p,
.meta_name_cls > p ,
.meta_assoc_cls > p {
    z-index: 1;
    color: white;
    border-radius: 4px;
    min-width: 0; /* Prevents the child from forcing its layout width */
    flex-shrink: 1; /* Allows the child to shrink below its content size */
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;  /* Add the "..." dots */
}   

.meta_name_cls:hover,
.meta_team_cls:hover,
.meta_assoc_cls:hover

{
    cursor: pointer;
    overflow: visible;        /* Un-hide the overflowing text */
    white-space: normal;      /* Allow text to wrap to multiple lines */
    z-index: 1;
    background-color: transparent;
    width: auto;
    height: 10%;
    position:relative;
    width: 400%;
    border: none;
    margin: 0;
    padding:0;
    border:  none;
    height: 100%;;
    z-index : 3
}


/* Hide next header element when hovered */
.meta_name_cls:hover + div  ,
.meta_team_cls:hover + div  

{
    z-index : 4;
    /* opacity: 0; */
    
}

.wrapperPlayerChainContainer {
    grid-row: 5 / span 99;
    grid-column: 1 / span 99;
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(100, 1fr);  
    grid-template-rows: repeat(100, 1fr);  
    margin: 0;
    padding:0;

}

/* / graphs section */
.playerChainContainer_cls
{
    /* border: 1px silver solid; */
    grid-row: 55 / span 80;
    grid-column: 2 / span 99;
    display: flex;
    /* grid-template-columns: repeat(100, 1fr);   */
    /* grid-template-rows: repeat(100, 1fr);   */
    flex-direction: row; /* Default value, establishes horizontal flow */
    flex-wrap: nowrap;   /* Forces all items to stay on a single line */
    overflow-x: auto;    /* Displays horizontal scrollbar when needed */
    column-gap: 10px;    
    align-content: flex-end;
    margin: 0;
    padding:0;
    /* border: 1px dotted pink; */
}

.player_container_plot_cls {
    border: 1px dotted skyblue;
    width: 15vh;
    height: 9vh;
    background-color: white;
    flex-shrink: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    column-gap: 6px;
    margin: 0;
    padding:0;
    display: flex;
}
