.main_cls {

    /* working within a flex container */
    grid-row: 1 / span 100;
    grid-column: 1 / span 100;
    display: grid;
    grid-template-columns: repeat(100, 1fr);  
    grid-template-rows: repeat(100, 1fr);  
}

.plot_cls {
    width: 100%;
    height: 100%;
    grid-row: 3 / span 45;
    grid-column: 20 / span 60;
    border: 2px red solid;
}

.options_cls {
    width: 100%;
    height: 100%;
    grid-row: 52 / span 10;
    grid-column: 1 / span 99;
    border: 2px red solid;
}

.logic_cls {
    width: 100%;
    height: 100%;
    grid-row: 63 / span 97;
    grid-column: 1 / span 60;
    border: 2px orange solid;
    background-color: gray;
}

.measure_cls {
    width: 100%;
    height: 100%;
    grid-row: 63 / span 97;
    grid-column: 61 / span 97;
    border: 2px yellow solid;
}

/* .column-background {
  background-color: #97db9a;
}

.column-fixed-width {
  width: 40px;
}

.column-background-border {
  background-color: #dcc48e;
  border: 4px solid #c1437a;
} */

.table_cls {
        width: 100%;
        height: 100%;

    color: black;

    overflow-y: auto;
}

.table_cls > colgroup > col:nth-child(1),
.table_cls > colgroup > col:nth-child(2) {
    
    /* column background */
    
    background-color: #97db9a;
    color: black;

}

.table_cls > colgroup > col:nth-child(3){
    
    /* column fixed width */

    background-color: #97db9a;

}

/* .table_cls > colgroup > col:nth-child(5){
    
    /* .column-background-border  */

  background-color: #dcc48e;
  border: 4px solid #c1437a;
} */

.table_cls > tr:nth-child(1) {
    height: 10vh;
}

.table_cls > tr:nth-child(n + 2) {
    height: 60vh;
}

/* .table_cls > tr > td {

    height: 80vh;
    width: 80vh; */

/* } */
