.main_cls {

    /* working within a flex container */
    grid-row: 1 / span 100;
    grid-column: 1 / span 100;
    display: grid;
    grid-template-columns: repeat(100, 1fr);  
    grid-template-rows: repeat(100, 1fr);  
    overflow-y: hidden;
    overflow-x: hidden;
}

.plot_cls {
    width: 100%;
    height: 100%;
    grid-row: 3 / span 45;
    grid-column: 10 / span 80;
    /* border: 2px red solid; */
    display: grid;
    grid-template-columns: repeat(100, 1fr);  
    grid-template-rows: repeat(100, 1fr);  

}

.plot_cls > div:nth-child(1) {
    width: 100%;
    height: 100%;
    
    grid-row: 1 / span 99;
    grid-column: 1 / span 9;

    display: flex;
    flex-direction: column;
    column-gap: 6px;
    justify-content: style;
    border: 1px black solid; 
    grid-template-columns: repeat(100, 1fr);  
    grid-template-rows: repeat(100, 1fr);  
}
.plot_cls > div:nth-child(1)  > button {
    width: 10vh;
    height: 5vh;

}

.plot_cls > div:nth-child(2)  {
    display: grid;
    grid-template-columns: repeat(100, 1fr);  
    grid-template-rows: repeat(100, 1fr);  
}

.plot_cls > div:nth-child(2) > span {
    background-color: white;
    border: 0.2px white solid;
}

.plot_cls > div:nth-child(2) > span[data-on="1"] {

    border-radius: 50%;
    background-color: blue;
    
}

.plot_cls > div:nth-child(2) {
        width: 100%;
    height: 100%;
     grid-row: 1 / span 99;
    grid-column: 10 / span 99;
        border: 1px black solid;
}


.options_cls {
    width: 100%;
    height: 100%;
    grid-row: 52 / span 10;
    grid-column: 1 / span 99;

    display: flex;
    gap: 12px;              /* Controls spacing between buttons without margins */
  justify-content: style; /* Controls alignment along the row (see variants below) */
  
}

.measure_cls {
    width: 100%;
    height: 100%;
    grid-row: 63 / span 35;
    grid-column: 61 / span 39;
    /* border: 2px purple solid; */
    border: 2px silver solid;
    display: grid;
    grid-template-columns: repeat(100, 1fr);  
    grid-template-rows: repeat(100, 1fr);  

    cursor: pointer;
}

.logic_cls {
    width: 100%;
    height: 100%;
    grid-row: 63 / span 35;
    grid-column: 1 / span 60;
    background-color: gray;
    overflow-y: auto;
    overflow-x: auto;
    /* grid-template-columns: 20% 20% 60%;   */
     grid-template-columns: repeat(100, 1fr);  
     grid-template-rows: repeat(100, 1fr);  
  border-bottom: 2px silver solid;

}

/* .logic_cls > table  {
    width: 100%;
    height: 100%;
    border: 2px yellow solid;
} */

.logic_cls > table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

}

.logic_cls > table > thead > tr  {
    margin-left: 10px;
  border-bottom: 2px black solid;

}

.logic_cls > table > tbody > tr  {
    height: 6dvh;
  border-bottom: 2px black solid;
  text-align: center;
}

.logic_cls > table > thead > tr > th:nth-child(1) {
    width: 12dvh;
} 

.logic_cls > table > tfoot > tr  {
  /* border: 2px black solid; */
  text-align: center;
  font-size: smaller;
}

.logic_cls > table > tfoot   {
    visibility: hidden;
}


.logic_cls > table > caption  {
  /* border: 2px solid #ccc; */
  position: relative;
  top:0;
  left: 0;;
  width: fit-content;
  height: fit-content;
  font-size: smaller;

}

.options_cls  > button {
  padding: 10px 20px; 
  border: 2px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 4px;
}

.options_cls  > button {
    pointer-events: none;
    opacity: 0.4;
}
.options_cls  > button[data-enabled='0'] {
    border-color: red;
}

.options_cls  > button[data-enabled='1'] {
    border-color: green;
}

/* .measure_cls > span[data-init="1"] {
    background-color: blue;
}

.measure_cls > span[data-init="0"] {
    background-color: red;
} */

.measure_cls > span {
    background-color: blue;
}


/* 
   <tfoot>

            <tr>
                    <td> -- </td>
                    <td> -- </td>
                    <td> -- </td>
            </tr>

        </tfoot> */